<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinc.goodmd.oassis.member.MemberMapper">

    <select id="findByUserId" parameterType="string" resultType="com.sinc.goodmd.oassis.member.Member">
        select *
        from oassis.member
        where user_id = #{userId}
    </select>

    <insert id="save" parameterType="com.sinc.goodmd.oassis.member.Member">
        insert into oassis.member (
            user_id,
            user_pass,
            user_nm,
            user_email,
            user_hpno,
            user_role,
            otp,
            expired,
            locked,
            enabled,
            reg_id,
            reg_date,
            mod_id,
            mod_date
        ) values (
            #{userId},
            #{userPass},
            #{userNm},
            #{userEmail},
            #{userHpno},
            #{userRole},
            #{otp},
            #{expired},
            #{locked},
            #{enabled},
            #{regId},
            now(),
            #{modId},
            now()
        )
    </insert>
</mapper>