<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinc.goodmd.oassis.test.TestMapper">
    <select id="selectTest" resultType="com.sinc.goodmd.oassis.test.Test">
        select id, name, reg_date from oaasis.test
    </select>
</mapper>